$background: #fdf6e3;

$darker-brown: #1a1300;
$dark-brown: #332600;
$light-brown: #4d3900;
$dark-blue: #011318;
$light-blue: #93a1a1;
$brown: #4d3900;
$yellow: #FFDC00;
$red: #ae0000;
$brown: #333;
$cog-red: #f16251;
$white: #f9f8f3;
$gold-gold: #ba7f01;




@import "reset";
@import "header";
@import "body";
@import "footer";
@import "archive";
@import "about";



