block content
  .boxed 
    Pre 
     Code.xml
      .eq1
       | \lim_{x\
       Sub right arrow 
       | 0}
       | \lim_{x\
       Sub right arrow 
       | 0}
      .eq2
       | \lim_{y\
       Sub right arrow 
       | 1}
       | \lim_{y\
       Sub right arrow
       |  0} 
 



