.mastheadbackground
  .masthead
    .logo-wrapper
      a(href="/") 
       img(src="/img/wagon.png" href="/index.jade")
      p
    .line
      
    .links
      nav.main-nav(role='navigation')
        ul.list-nav
          li.link-archive
            a(href="archive") Archive
          li.link-about
            a(href="about") About
      