extends layout

block archive
  .content
      .posts
        .archive
          h1 
            a(href="/") Coffee Wakes up early
          .tagline
            h2
              Em The Story of sourced Coffee 
          h1 
            a(href="/") Rise of JavaChip(1812)
          .tagline
            h2
              Em The Story about the a missing Chip
           h1 
            a(href="/") Who Caters at Funerals?
          .tagline
            h2
              Em The Story about your last meal
          h1 
            a(href="/") Product Subconcious
          .tagline
            h2
              Em The Story of subconcious realestate
  include _footer              
    
    
         

         

         
